.primary-button {
  padding: 8px 12px;
  background-color: #393939;;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.primary-button:hover {
  background-color: #0a0909;
}
