.my-work-tab {
  overflow: hidden;
}
.my-work-tab .banner {
  background-color: rgb(54, 51, 51);
  color: #fff;
  text-align: center;
  padding: 50px 0;
  background-image: url("../MyWork/background2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  height: 200px;
  border-bottom: none;
}

.my-work-tab .banner h2 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.my-work-tab .card-block {
  padding: 30px;
  padding-bottom: 50px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.my-work-tab .knowledge-cards {
  background-image: url("../MyWork/background5.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project-card {
  height: 300px !important;
  margin-bottom: 5px;
  border-bottom: solid 1px var(--dark-blue);
  width: 70%;
  display: flex;
  flex-direction: row;
}

.project-card-image {
  max-width: 50%;
  min-width: 50%;
  object-fit: cover;
  height: 100%;
}

.card-action-area {
  display: flex;
}

.css-46bh2p-MuiCardContent-root{
  min-width: 55% !important;
}

.project-card-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.project-card-field {
  margin-bottom: 5px;
}

.project-card-field strong {
  font-weight: bold;
  color: #333;
}

.project-card-image {
  width: 45%;
  object-fit: cover;
}

.project-card-content {
  flex: 1; /* Allows the content section to take the remaining space */
}

.my-work-card-container {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 834px) and (max-height: 1022px) {
  .card-container {
    height: 2000px;
    flex-direction: column;
  }

  .my-work-tab .knowledge-cards {
    flex-direction: column;
    gap: 15px;
  }
  .my-work-tab .card-block {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .my-work-tab .home-card {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    overflow: scroll !important;
    display: flex !important;
    height: 500px !important;
    width: 100% !important;
  }

  .my-work-tab {
    margin-top: 80px;
  }
}
