* {
  font-family: "DM Sans", sans-serif !important;
}

.text-card {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  transition: transform 0.2s;
}

.text-card:hover {
  transform: scale(1.05);
}

.text-card-icon {
  margin-bottom: 5px;
}

.text-card-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.text-card-text {
  font-size: 12px;
}
