.home-card-about-me {
  max-width: 450px !important;
  padding: 20px;
  border-radius: 2 !important;
  background-color: #f5f2f2f2 !important;
  font-family: "DM Sans", sans-serif !important;
  width: 30vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 5px !important;
  transition: transform 0.2s ease, scale 0.8s ease;
  text-align: justify;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.home-card-about-me:hover {
  transform: scale(1.02);
  scale: 1.02;
}

.home-card-about-me .MuiCardActionArea {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-card-about-me .MuiCardContent {
  flex-grow: 1;
  padding: 16px;
}

.home-card-about-me .MuiCardMedia {
  height: 150px;
  object-fit: cover;
}

.home-card-about-me .MuiTypography {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 834px) and (max-height: 1022px) {
  .home-card-about-me {
    width: 350px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
