.navbar {
  background-color: #f5f5f5;
  padding: 10px 20px;
  transition: transform 0.8s ease;
  height: 90px;
}

.navbar-slide-up {
  transform: translateY(-100%);
}

.navbar-slide-down {
  transform: translateY(0);
}

.navbar-container {
  margin-left: 5px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: auto;
  margin-top: 2px;
  height: 75px;
  margin-left: 55px;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin-right: 150px;
}
.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.nav-link:hover {
  border-bottom-color: yellow;
  transform: scale(1.1);
}

@media screen and (max-width: 834px) and (max-height: 1022px) {
  .navbar-links {
    display: none;
  }
  .logo-image {
    margin-left: 2px;
  }
}
