.navbar {
  background-color: #f5f5f5;
  border-bottom: 3px solid #4f3838;
  padding: 10px 20px;
  transition: transform 0.8s ease;
}

.navbar-slide-up {
  transform: translateY(-100%);
}

.navbar-slide-down {
  transform: translateY(0);
}

.navbar-container {
  margin-left: 5px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  margin-right: 20px;
}

.logo-image {
  width: 300px;
  height: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin-right: 150px;
}
.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.nav-link:hover {
  border-bottom-color: yellow;
  transform: scale(1.1);
}
