.footer {
  background-image: url("../Home/HomeImages/background4.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
  position: relative;
  height: 380px;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-top: 2px solid #3a3a3a;
  }

  .footer-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    font-size: 14px;
    font-style: italic;
  }

  .footer-quote div {
    border-top: solid 1px var(--yellow-one);
    padding: 5px;
    border-radius: 10px;
    margin-top: 40px;
  }

  .contact-info p,
  .menu-info p,
  .back-to-top {
    margin: 5px 0;
    font-size: 14px;
  }

  .contact-info p:first-child,
  .menu-info p:first-child {
    font-weight: bold;
  }

  .back-to-top {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .back-to-top:hover {
    text-decoration: underline;
  }

  .footer h2 {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #3a3a3a;
    color: #b0b0b0;
    padding: 10px 0;
    font-size: 12px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .footer a {
    text-decoration: none;
    color: white;
  }

  .menu-info {
    margin-right: 120px;
  }

  .decorative-icons {
    margin-left: 5px;
  }

  .footer-bottom.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 834px) and (max-height: 1022px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .footer {
    height: 570px;
    width: 100%;
  }

  .footer-quote {
    width: 80%;
    margin-left: 2%;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow-one);
  height: 55px;
  padding: 0 20px;
}

.world-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(247, 243, 243, 0.932);
  border: 1px solid #333;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.argentina-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 10px;
}

.top-arrow {
  position: absolute;
  right: 20px;
  color: #333;
}
