:root {
  --yellow-one: #ee6719;
  --color-one-opacity: #c28d1a;
  --light-grey: #cccccc;
  --dark-grey: #333333;
  --black: #000000;
  --light-blue: #00c5cc;
  --deep-blue: #003366;
  --teal: #008080;
  --dark-blue: #081019;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-image: url("./Components/Home/HomeImages/home-picture-7.jpg");
  background-size: cover;
}
