* {
  font-family: "DM Sans", sans-serif !important;
}

.about-me-tab {
  background-image: url("../Home/HomeImages/background4.png");
  background-size: cover;
  background-position: center;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background-color: #35353596;
  /* background-image: url("../Home/HomeImages/background4.png");
  background-size: cover;
  background-position: center; */
  height: 200px;
  color: white;
}

.about-me-container div {
  font-size: 14px;
}
.about-me-title {
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.underline-image {
  width: 180px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 700px;
  gap: 30px;
  background: #272727;
  opacity: 1;
}

.trainning-card {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("../Home/HomeImages/background4.png");
  padding-bottom: 60px;
}

.image-container > * {
  flex: 1 1 33%;
  box-sizing: border-box;
}

.journey-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 1px;
  background-image: url("./AboutMeImages/backgorund2.jpg");
  background-size: cover;
  opacity: 0.9;
  border-radius: 10px;
  flex-wrap: wrap;
  margin: 50px 40px 160px;
}

.journey-container-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 45px 1px;
  background-color: rgb(239, 240, 241);
  background-size: cover;
  flex-wrap: wrap;
  margin: 0px 0px 160px;
}

.journey-card {
  min-width: 300px;
  max-width: 500px;
  padding: 10px;
  text-align: center;
}

.journey-card h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.journey-card div {
  font-size: 14px;
  margin-bottom: 5px;
}

.arrow {
  width: 50px;
  margin: 25px;
}

@media (max-width: 768px) {
  .image-container > * {
    flex: 1 1 100%;
  }

  .card-container {
    height: 2000px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .trainning-card {
    transform: none;
    height: auto;
  }

  .journey-container {
    margin: 5px;
    margin-bottom: 80px;
  }

  .about-me-tab {
    margin-top: 80px;
  }
}
