.card-container {
  display: flex;
  padding: 100px;
  justify-content: center;
  background-color: rgb(47 43 37);
  margin-top: 20px;
  margin-bottom: 20px;
}

.trainning-card {
  background-color: #d3d037 !important;
}
