* {
  font-family: "DM Sans", sans-serif !important;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background-image: url("background-about-me.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  color: white;
}

.about-me-container div {
  font-size: 14px;
}
.about-me-title {
  text-align: center;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 700px;
  gap: 30px;
  background: #272727;
  opacity: 1;
}

.trainning-card {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("background-about-me.jpg");
  padding-bottom: 60px;
}

.image-container > * {
  flex: 1 1 33%;
  box-sizing: border-box;
}

.journey-container {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  padding: 75px;
  background-image: url("./AboutMeImages/backgorund2.jpg");
  background-size: cover;
  flex-wrap: wrap;
}

.journey-card {
  min-width: 300px;
  max-width: 500px;
  padding: 10px;
  text-align: center;
}

.journey-card h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.journey-card div {
  font-size: 14px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .image-container > * {
    flex: 1 1 100%;
  }

  .card-container {
    height: 2000px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .trainning-card {
    transform: none;
    height: auto;
  }
}
